/* Contact Box */
.contact-box {
    max-width: 400px;
    margin: 30px auto;
    background: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    box-sizing: border-box;   /* ✅ THIS FIXES WIDTH ISSUE */
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.contact-box textarea {
    height: 100px;
}

/*navigation*/
 .navbar {
    background: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.left-head {
    font-size: 22px;
    font-weight: bold;
}

.right-head ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.right-head a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}

.right-head a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #16a34a;
    transition: 0.3s;
}

.right-head a:hover::after {
    width: 100%;
}